body {
    background-color: #FAF9F7;
    margin: 0px 0px 0px 0px;
    background-color: #EDE6DE;
    padding: 0px 0px 0px 0px;
}

.container {
    background-color: #EDE6DE;
    margin: 0px 0px 0px 0px;
    padding: 0px
}

.btn .btn-primary {
    background-color: #833a0f;
}

.col {
    padding: 1em;
    margin: 2em;
}

.navbar {
    height: 80px;
}

.navbar img {
    padding: 1em;
}

nav {
    background-color: #833a0f;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

nav a {
    padding: 1px;
    color: white;
    margin: 8px
}

nav a:hover {
    color: white;
}

.row {
    padding: 2em;
    margin: 0px;
    display: flex;
    align-items: center;
}

col {
    padding: 2em;
}

h2 {
    padding: .5em 0em 0em 0em;
}

#portfolio {
    background-color: tan;
}

#milkandhoneycreativestudio {
    background-color: #EDE6DE;
}

#expunge-assist {
    background-color: tan;
}

#hobbies {
    background-color: white;
}

button {
    background-color: black;
    border-color: none;
    border-top-style: none;
    border-left-style: none;
    color: white;
    padding: .5em 2em 2em 2em;
    height: 2.5em;
}

a {
    color: brown;
}

a:hover {
    color: brown;
}

form {
    justify-content: center;
    align-items: center;
    padding: 3em 0em 3em 0em;

}


.footer {
    background-color: #CC6931;
    height: 5em;
}

.footer a,
.footer a:hover {
    color: white;
    padding: 1em;
}